data/
hf_models/
Llama-2-13b-chat-hf/
llama-13b/
vicuna-13b-delta-v0/
tokens.txt
ssh_rivanna

# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints
.ipynb_checkpoints/
.DS_Store

# any file start with test end with .ipynb
test*.ipynb 
test*.py